:root {
    margin: 0;
}


main {
    display: grid;
}


nav a {
    text-decoration: none;
    color: var(--clr--h2);
    font-weight: 700;
    line-height: clamp(3rem, 1.667rem + 3.556vw, 5rem);
    font-size: clamp(0.5rem, -0.5rem + 2.667vw, 2rem);
}

.hero {
    padding: 0 clamp(1rem, -7.143rem + 21.714vw, 20rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 3000px;
    margin-inline: auto;
}

.hero img {
    margin: 1rem 0;
    width: clamp(5rem, -5rem + 26.667vw, 20rem);
}

.hero h2 {
    margin-bottom: 3rem;
}

.hero h1, .hero p {
    margin-bottom: 2rem;
}

.hero>h2, .hero>h1, .hero>p {
    text-align: center;
}

.hero p {
    max-width: clamp(20rem, 13.333rem + 17.778vw, 30rem);
}

.hero button {
    border: solid 0.1rem var(--clr--h1);
    border-radius: 10rem;
    background-color: var(--clt-card);
    color: var(--clr--h1);
    font-weight: bold;
    font-size: clamp(0.5rem, -0.167rem + 1.778vw, 1.5rem);
    padding: 0.5rem 1.5rem;
    transition: 0.15s;
}


#about {
    padding: 4rem clamp(1rem, -7.143rem + 21.714vw, 20rem) 0;
    max-width: 3000px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}



#about img {
    width: clamp(20rem, 12.857rem + 19.048vw, 30rem);
    border-radius: 0.6rem;
    transition: 0.15s;
    object-fit: cover;
}

#about img:hover {
    box-shadow: 0.6rem 0.6rem var(--clr--border);
    transform: translate(-0.6rem, -0.6rem);
}

#about h2 {
    margin-bottom: 1rem;
}

.about_me {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 8rem;
}

.about_me>:first-child {
    order: 1;
}

.about_more {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 780px) {
    .about_me>:first-child {
        order: 0;
    }

    .about_me, .about_more {
        text-align: center;
    }

    .about_me>div:last-child, .about_more>div:last-child {
        max-width: 500px;
    }

    #about>img {
        max-height: 200px;
        width: auto;
    }

    #about div:has(p) {
        padding: 0 3rem;
    }
}

#about>div>div:has(img) {
    display: flex;
    justify-content: center;
}

.projects {
    padding: 4rem clamp(1rem, -7.143rem + 21.714vw, 20rem) 0;
    max-width: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.projects>h2{
    margin-bottom: 1rem;
}

.projects>p {
    margin-bottom: 3rem;
    max-width: 30rem;
}

.projects p, .projects h2 {
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(20rem, 16.429rem + 9.524vw, 25rem), 1fr));
    margin-bottom: 4rem;
    border: solid 0.2rem var(--clr--border);
    background-color: var(--clt-card);
    transition: 0.15s;
}

.card:hover {
    box-shadow: 0.6rem 0.6rem var(--clr--border);
    transform: translate(-0.6rem, -0.6rem);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left div:has(img) {
    border-left: solid 0.2rem var(--clr--border);
}

.right div:has(img) {
    border-right: solid 0.2rem var(--clr--border);
}

.right div:has(img) {
    order: -1;
}

.card div>:has(h2) {
    border-bottom: 0.2rem solid var(--clr--border);
    padding: 0.5rem 0;
}


.card p {
    height: 100%;
}

.card div>:has(p) {
    padding: 10%;
}

@media (max-width: 512px) {
    .left div:has(img), .right div:has(img) {
        border:none;
        border-top: solid 0.2rem var(--clr--border);
    }

    .right div:has(img) {
        order: 0;
    }

    .card {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 1148px) {
    .card {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.contact {
    padding: 4rem clamp(1rem, -7.143rem + 21.714vw, 20rem);
    max-width: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 5rem;
}

.contact h2 {
    margin-bottom: 0.6rem;
}

.contact p {
    margin-bottom: 3rem;
    text-align: center;
    max-width: 30rem;
}

.contact>div:has(form) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.2rem var(--clr--border);
    padding: 2rem 3rem;
    box-shadow: 1rem 1rem var(--clr--border);
    transition: 0.15s;
}

.contact>div:has(form):hover {
    transform: translate(1rem, 1rem);
    box-shadow: none;
}

.contact form {
    display: grid;
    width: 100%;
}

label, .message{
    margin-bottom: 1rem;
    min-width: 20rem;
    padding: 0.3rem 0.2rem;
}

.field {
    height: 6rem;
}


.contact a {
    margin-inline: auto;
}

.contact button {
    border: solid 0.1rem var(--clr--h1);
    border-radius: 10rem;
    background-color: var(--clt-card);
    color: var(--clr--h1);
    font-weight: bold;
    font-size: clamp(0.5rem, -0.167rem + 1.778vw, 1.5rem);
    padding: 0.5rem 2.5rem;
}